<h1>New Comment</h1>
<br>
<form action='<%= comments_url =%>' method='POST'>
  <label for='body'>Comment</label>
  <br>
  <input id='body' type='text' name='comment[body]'>
  <input type='submit' value='save comment'>
</form>
